<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" >
    </div>
    <div class="mb-3">
        <label for="area" class="form-label">Area</label>
        <input type="text" class="form-control" id="area">
    </div>
    <div class="mb-3">
        <label for="popu" class="form-label">Population</label>
        <input type="text" class="form-control" id="popu">
    </div>
    <div class="mb-3">
        <label for="gdp" class="form-label">GDP</label>
        <input type="text" class="form-control" id="gdp">
    </div>
    <div class="mb-3">
        <label for="des" class="form-label">Description</label>
        <input type="text" class="form-control" id="des">
    </div>
    <div>
        <label for="national" class="form-label">Quốc Gia</label>
        <select name="national" id="national" style="width: 100%">
            <option value="1">VN</option>
        </select>
    </div>

</form>
</body>
</html>